<div id="commentsContainer">
<div>

  <form [formGroup]="formGroup" ></form>
  <textarea rows="10" cols="50"  [formControl]="textControl" type="text"> </textarea>
  <p *ngIf="textControl.hasError('required')" class="requiredError">comment text is required</p>
  <input style="display: block;" [disabled]="textControl.hasError('required')" class="createBtn" (click)="addNewComment()"  type="button" value="comment">
</div>
</div>
<div id="comments" *ngFor="let comment of comments">
  <div class="comment">
    <p id="authorName">{{comment.user?.username}}</p>
    <p *ngIf="isUserCommentsUnderEditingMap.get(comment)===false || isUserCommentsUnderEditingMap.get(comment)===undefined">{{comment.text | escape}}</p>
    <textarea *ngIf="isUserCommentsUnderEditingMap.get(comment)" cols="60" rows="5" (change)="updateComment($event,comment)">{{comment.text}}</textarea>
    <div id="commentsButton">
    <button class="editBtn" *ngIf="(isUserCommentsUnderEditingMap.get(comment)===false || isUserCommentsUnderEditingMap.get(comment)===undefined) && isAuthor(comment)"
            (click)="setEditFlag(comment)">edit</button>
    <button class="editBtn" *ngIf="isUserCommentsUnderEditingMap.get(comment)" (click)="saveComment(comment)">update</button>
    <button class="editBtn" *ngIf="isUserCommentsUnderEditingMap.get(comment)" (click)="cancelUpdate(comment)">cancel update</button>

    <button class="deleteBtn" *ngIf="canDeleteComment(comment)" (click)="deleteCommentFromPost(comment.id)">remove</button>
    </div>
  </div>

</div>

