
#authorName{
  font-style: italic;
}

.entityList{
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteBtn{
  font-weight: bold;
  border-radius: 15px;
  background-color: royalblue;
}

.deleteBtn:hover{
  background-color: blue;
}

#authNav a{
  color:black !important;
}




a:hover{
  background-color: yellow;
}
